.form {
    background-color: #fff;
    padding: 15px;
    min-width: 400px;
    border-radius: 16px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.15), 0 15px 12px rgba(0,0,0,0.11);
    background-repeat: no-repeat;
    background-size: 200%;
    background-position-x: 88%;
    background-position-y: 5%;
    margin-top: 50px;
    font-family: "EB Garamond";
    animation: slide-in-top .7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.header {
    margin: 10px 0;
    text-align: center;
    color: #94c2c0;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.inputs label {
    text-transform: uppercase;
    font-size: 1rem;
    color: #cb9cac;
    margin-bottom: 10px;
}

.inputs input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #cb9cac;
    border-radius: 16px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    background-color: rgba(255, 255, 255, .5);
    padding: 15px;
    font-family: "EB Garamond";
    transition: all .1s linear;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 0;
    color: #cb9cac;
}

.options a {
    color: #cb9cac;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.buttons a {
    color: #ead8de;
    text-decoration: none;
}

.buttons a:hover {
    color: #fff;
    text-decoration: none;
}

.buttons button:first-child {
    background-color: #cb9cac;
    padding: 12px;
    border-radius: 16px;
    border: none;
    color: #ead8de;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.09);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    font-family: "EB Garamond";
}

.buttons button:first-child:hover {
    color: #ffffff;
    outline: none;
    box-shadow: 0 14px 28px rgba(0,0,0,0.10), 0 10px 10px rgba(0,0,0,0.09);
}


.buttons button:last-child {
    background-color: #94c2c0;
    padding: 12px;
    border-radius: 16px;
    border: none;
    color: #cafffd;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.09);
    transition: all .1s linear;
    font-family: "EB Garamond";
}

.buttons button:last-child:hover {
    color: #ffffff;
    outline: none;
    box-shadow: 0 14px 28px rgba(0,0,0,0.10), 0 10px 10px rgba(0,0,0,0.09);
}

.buttons button:focus, input:hover, input:focus {
    outline: none;
}

.inputs input:focus, .inputs input:hover {
    color: #cb9cac;
    box-shadow: 0 14px 28px rgba(0,0,0,0.10), 0 10px 10px rgba(0,0,0,0.09);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active
{
    -webkit-box-shadow: 0 0 0 50px rgb(255, 240, 244) inset !important;
}

input:-webkit-autofill
{
    -webkit-text-fill-color: #cb9cac !important;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-1000px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}